:root {
	--container-width: 1080px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;
	--font-secondary: 'Roboto', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--bg-secondary: #404040;
	--text-color: #000;
	--accent: #e05100;
	--link-color: #2578c8;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
