<div class="header-down">
	<div class="container">
		<nav class="header__nav nav">
			<div class="logo">
				<img src="./../../img/logo/Rectangle 2.png" alt="логотип">
			</div>
			<ul class="nav__list">
				<li class="header__nav-item"><a class="header__nav-link" href="#!">О компании</a></li>
				<li class="header__nav-item"><a class="header__nav-link" href="#!">Укладка тротуарной плитки</a></li>
				<li class="header__nav-item"><a class="header__nav-link" href="#!">Портфолио</a></li>
				<li class="header__nav-item"><a class="header__nav-link" href="#!">Полезно знать</a></li>
				<li class="header__nav-item"><a class="header__nav-link" href="#!">Доставка и оплата</a></li>
				<li class="header__nav-item"><a class="header__nav-link" href="#!">Контакты</a></li>
			</ul>
		</nav>
	</div>
</div>