<ul class="header-top__list">
	<li class="header-top__item border">
		<img src="./../../img/icon/map.svg" alt="иконка карты">
		<p class="header-top__text">
			Волоколамский район,<br>
			пос. Чисмена, ул. Центральная, 1
		</p>
	</li>
	<li class="header-top__item border header-top__item-time">
		<img src="./../../img/icon/clock.svg" alt="иконка времени">
		<p class="header-top__text">
			Режим работы: <br> с 8:00 до 20:00
		</p>
	</li>
	<li class="header-top__item">
		<img src="./../../img/icon/phone.svg" alt="иконка телефона">
		<div class="header-top__item-wrap">
			<a href="tel:+79261059414">+7 (926) 105-94-14</a> <br>
			<a href="tel:+79104706797">+7 (910) 470-67-97</a>
		</div>
		<a href="tel:+74999949099">+7 (499) 994-90-99</a>
	</li>
</ul>
<button class="btn-call" type='button'>
	Заказать звонок
</button>
<button class="mobile-nav-btn">
	<div class="nav-icon"></div>
</button>