.modal {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in;

	&--open {
		opacity: 1;
		pointer-events: all;
	}
}
.modal__body {
	position: relative;
	padding: 40px;
	width: 450px;
	background-color: var(--page-bg);
	border-radius: 20px;
	transform: translate(0, -50%);
	transition: all 0.2s ease-in;
}
.modal--open .modal__body {
	transform: translate(0, 0);
}

.modal__close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.modal__header {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	text-align: center;
}

.modal__title {
	font-size: 36px;
	font-weight: 800;
}

.modal__inputs {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.modal__checkbox-label {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.fake-checkbox {
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	transition: 0.2s ease-in;
}

.fake-checkbox::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in;
	width: 12px;
	height: 9px;
	background-image: url(./../../img/icon/tick.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.real-checkbox:checked + .fake-checkbox {
	background-color: var(--text-color);
}

.real-checkbox:checked + .fake-checkbox::after {
	transform: translate(-50%, -50%) scale(1);
}

@include m767() {
	.modal__body {
		width: 360px;
		padding: 20px;
	}

	.modal__title {
		font-size: 25px;
	}
}
