.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-link {
		color: var(--text-color);
	}
}
.nav {
	font-size: 12px;
	font-weight: 700;
}
.nav__list {
	display: flex;
	align-items: center;
	column-gap: 49px;
}

@media (max-width: 1040px) {
	.nav__list {
		column-gap: 25px;
	}
}

@media (max-width: 930px) {
	.logo {
		display: none;
	}
	.header__nav {
		font-size: 11px;
		justify-content: space-between;
	}
}

@include m767() {
	.header__nav {
		display: none;
	}
}
