.h-1 {
	font-weight: 700;
	font-size: 40px;
	color: var(--page-bg);
}

.h-2 {
	font-size: 35px;
	font-weight: 700;
	color: var(--text-color);
}
.about__title {
	color: var(--page-bg);
}
.h-3 {
	font-size: 14px;
	font-weight: 700;
	font-family: var(--text-color);
}

.h-4 {
	font-size: 20px;
	font-weight: 700;
	color: var(--accent);
}

.white {
	color: var(--page-bg);
}
