.h-1 {
	font-weight: 700;
	font-size: 40px;
	color: var(--page-bg);
}

.h-2 {
	font-size: 35px;
	font-weight: 700;
	color: var(--text-color);
}
.about__title {
	color: var(--page-bg);
}
.h-3 {
	font-size: 14px;
	font-weight: 700;
	font-family: var(--text-color);
}

.h-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}

.white {
	color: var(--page-bg);
}
