.header-top {
	padding-block: 15px;
	font-size: 12px;
	color: #fff;
	background-color: var(--bg-secondary);

	&__wrap {
		display: flex;
		align-items: center;
	}
	a {
		color: currentColor;
		transition: color 0.2s ease-in;
		&:hover {
			color: var(--accent);
		}
	}
}

.header-top__list {
	display: flex;
	align-items: center;
	gap: 46px;
}

.header-top__item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
}

.border::after {
	position: absolute;
	content: '';
	width: 1px;
	right: -28px;
	height: 100%;
	background-color: #fff;
}

@media (max-width: 1100px) {
	.header-top__wrap {
		justify-content: space-between;
	}
	.header-top__item-wrap + a {
		display: none;
	}
}

@media (max-width: 930px) {
	.header-top__item-time {
		display: none;
	}
}

@include m767() {
	.btn-call {
		display: none;
	}
}

@media (max-width: 690px) {
	.header-top__list {
		gap: 36px;
	}
	.header-top__item {
		gap: 7px;
	}
}
